
body, p, h1, h2, h3, h4, h5, h6, ul, li, dl, dt, dd, form {margin: 0;padding: 0;list-style: none;vertical-align: middle}
body {max-width:640px; background: #fff;font-family: Helvetica Neue,Tahoma,Arial,PingFangSC-Regular,Hiragino Sans GB,Microsoft Yahei,sans-serif; color: #000;-webkit-user-select: auto;-webkit-text-size-adjust: none;font-size: 0.22rem; min-width: 320px; margin: auto!important; overflow:auto; position: relative;}
header, footer, img, input {display: block;margin: 0;padding: 0}
img {border: 0}
div {display: block;margin: 0;padding: 0;}
a {text-decoration: none;}
img {width:100%; display:inline-block;}
b {font-weight: normal;}
input,select{ outline:none;}

@media screen and (min-width:320px) and (max-width:375px){html{font-size:11.25px} }
@media screen and (min-width:376px) and (max-width:414px){html{font-size:13px}}
@media screen and (min-width:415px) and (max-width:639px){html{font-size:15px}}
@media screen and (min-width:640px) and (max-width:719px){html{font-size:1rem}}
@media screen and (min-width:720px) and (max-width:749px){html{font-size:22.5px}}
@media screen and (min-width:750px) and (max-width:799px){html{font-size:23.5px}}
@media screen and (min-width:800px){html{font-size:25px}}

.fgx{width: 100%; height: 0.2rem; background: #f1f1f1;}

.bordertb{border-top: 0.1rem solid #f1f1f1; border-bottom: 0.1rem solid #f1f1f1;}
.clear:after{content:""; clear:both; display: block;}

.container {max-width:640px; margin:0 auto; overflow-x:hidden;}  
.cont_ul {padding-top:0.05rem; margin:0 -0.12rem;}  
.cont_ul:after {content:""; display:block; width:0; height:0; clear:both;}  

.advertisement{width:100%; height: auto; overflow: hidden;}

/* 首页样式 */
.body_wrap>.bodys{height:0; overflow: hidden;}
.body_wrap>.bodys:first-child{height:auto;}


.bottomh{height:1.1rem;}



/* 手机板块 */
.sj_main,.sj_main_b{width:100%; height: auto; overflow: hidden;}
.sj_main_c{width:100%; height:auto; overflow: hidden;}
.sj_main_c dl{width:100%; height: auto; overflow: hidden;}
.sj_main_c dl dt{width: 100%; height: auto;}
.sj_main_c dl dd{width:100%; height: auto; box-sizing:border-box; padding: 0.2rem 0.25rem; background: #fff;}
.sj_main_c dl dd div{width:100%; height: 0.5rem;}
.sj_main_c dl dd div p{float:left;}
.sj_main_c dl dd div span,.sj_main_c dl dd div s{float:right;}
.sj_main_c dl dd div.nameyj p{font-size: 16px; color: #333;}
.sj_main_c dl dd div span{font-size:14px; color:#f00;}
.sj_main_c dl dd div.namejj p{font-size:12px; color: #999;}
.sj_main_c dl dd div s{color:#999;}

/* 分类 */

// 产品详情页


.product{width:100%; height: auto;}
.product_t{width: 100%; height: 0.6rem; border-bottom: 1px solid #f1f1f1;}
.product_t p{width: 50%; height: 0.6rem; line-height: 0.6rem; text-align: center; font-size: 14px; color: #333; float:left;}
.product_t p.cc{color:#f00;}

.comment{width:100%; height: auto; overflow: hidden; box-sizing:border-box; padding: 5%; padding-top: 0;}
.comment_tit{width: 100%; height: 0.6rem; border-bottom: 1px solid #ddd;}
.comment_titl{width:50%; height: 0.6rem; line-height:0.6rem; text-align: left; color: #999; float: left;}
.comment_titr{width: 50%; height: 0.6rem; line-height: 0.6rem; text-align: right; color: #333; float: right;}
.comment_main{width: 100%; height: auto; overflow: hidden;}
.comment_main_user{width: 100%; height: 0.7rem; padding-top: 0.2rem; padding-bottom: 0.1rem;}
.comment_main_user_l{width: 50%; height: 0.7rem; float: left;}
.comment_main_user_l dt{width: 0.7rem; height: 0.7rem; float: left;}
.comment_main_user_l dd{height:0.7rem; box-sizing: border-box; padding: 0.1rem; float: left;}
.comment_main_user_l dd p,.comment_main_user_l dd span{height: 0.25rem; line-height:0.25rem;}
.comment_main_user_r{width:50%; height: 0.7rem; line-height: 0.7rem; text-align: right; color: #FF0000; float: left;}
.comment_main_con{width: 100%; line-height:1.5; font-size: 14px;}
.comment_main_tu{width: 100%; height: 1.5rem;}
.comment_main_tu img{width: 30%; height: 1.5rem; margin-left: 3%; float: left;}


.fgxe{width: 100%; height: 0.1rem; background: #f1f1f1;}

